<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [2]:
import pandas as pd
import os

In [3]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

In [4]:
df = df[lambda df: df.notnull().all(axis=1)] #Primero borramos los valores nulos

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [9]:
observaciones = df.shape[0] #Calculamos la dimension de los datos e imprimimos la cantidad de filas 
print("Numero de observaciones:")
print(observaciones)

Numero de observaciones:
943

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [8]:
columnas = df.shape[1] #Calculamos la dimension de los datos e imprimimos la cantidad de columnas
print("Numero de columnas:")
print(columnas)

Numero de columnas:
4

3. Imprime el nombre de todas las columnas

In [99]:
df.columns #Imprimimos cada columna

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

4. Imprima el índice del dataframe

In [100]:
df.index #Imprimmimos los indices de los datos

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [101]:
df.dtypes #Imprimimos el tipo de dato de cada columna

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [102]:
df.describe() #Resume la primera columna de datos

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [103]:
df.describe(include="all") #Se incluyen todas las columnas en el resumen

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [104]:
df["occupation"] #Imprime la columna occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [10]:
occupation = df["occupation"].unique() #Creamos una lista con los valores diferentes
print("Numero de ocupaciones diferentes:")
print(len(occupation)) #Calculamos el largo de la lista con valores diferentes

Numero de ocupaciones diferentes:
21

10. ¿Cuál es la ocupación más frecuente?

In [12]:
oc_frec = df["occupation"].value_counts() #Vemos la frecuencia de los valores de occupation
print(oc_frec.index[0] + " es la ocupacion mas frecuente") #Imprimimos el primer valor que es el mas frecuente

student es la ocupacion mas frecuente

11. ¿Cuál es la edad media de los usuarios?

In [13]:
edad = df["age"] #Definimos la columna de edad
print("El promedio de edad:")
print(edad.mean()) #Calculamos el promedio de esta columna

El promedio de edad:
34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [14]:
edad_frec = df["age"].value_counts() #Vemos la frecuencia de las edades
edades_menos_frec = [] #Definimos una lista vacia
l = len(edad_frec.index) #Vemos la cantidad de indices de la lista
for i in edad_frec.index: 
    if edad_frec[i] == edad_frec[edad_frec.index[l-1]]: #Si el la edad tiene la menor frecuencia posible se agrega a la lista
        edades_menos_frec.append(i)
print("Las edades con menos ocurrecia son:")
print(edades_menos_frec) #Imprimimos la lista con las edades menos frecuentes

Las edades con menos ocurrecia son:
[11, 10, 73, 66, 7]